body {
  font-family: Arial;
  background: #fff;
  margin: 0;
  padding: 0;
}

.navbar {
  background: #c40027;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  margin: 0 10px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.container {
  padding: 30px;
}

.form input,
.form select {
  width: 100%;
  padding: 10px;
  border: 2px solid #ff4f7b;
  border-radius: 6px;
  margin-bottom: 15px;
}

.btn-save {
  background: #c40027;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
}

.card {
  border: 2px solid #ff4f7b;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.actions button,
.actions a {
  margin-right: 10px;
  padding: 8px 12px;
  border-radius: 6px;
  text-decoration: none;
}

.btn-view {
  background: #ff4f7b;
  color: white;
}

.btn-edit {
  background: #c40027;
  color: white;
}

.btn-delete {
  background: #f52222;
  color: white;
  border: none;
}
